/* the initial setup */
body {
    margin: 0;
    padding: 0;
    background-image: url('../../images/background.png');
    background-size: cover;
    background-position: center;
}

/* the top overlay reused across all pages */
.-top-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(22, 33, 44);
    z-index: 10;
}

.-top-overlay-btn1 {
    position: absolute;
    top: 5px;
    left: 0;
    padding: 0 25px;
}

.-top-overlay-btn2 {
    position: absolute;
    top: 5px;
    left: 100px;
    padding: 0 25px;
}

/* the title overlay for most pages except homepage */
.-title-overlay {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(37,40,43);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

/* displayed content extra details */
.-overlay-content {
    text-align: center;
    color: white;
}

/* the reusable button */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* when you hover over the reusable button */
button:hover {
    background-color: #0056b3;
}

/* 
    the bottom overlay at the bottom of the website
    that is reused across all pages
*/
.-bottom-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(22, 33, 44);
    z-index: 5;
}

/* 
    the copyright message at the bottom right 
    that is reused across all pages
*/
.-bottom-overlay-copyright {
    position: absolute; /* Position relative to the overlay */
    bottom: 50%;
    right: 10px; /* Position the text 10px from the right side */
    transform: translate(0, 50%); /* Center horizontally and adjust vertical positioning */
    color: white;
}

/* 
    the discord icon at the bottom left 
    that is reused across all pages
*/
.-button-overlay-icon-discord {
    position: absolute; /* Position relative to the overlay */
    top: 10px; /* Perfectly center the image vertically */
    left: 10px; /* Position the image 10px from the left side */
    height: 30px;
}

/* 
    the youtube icon at the bottom left
    that is reused across all pages
*/
.-button-overlay-icon-youtube {
    position: absolute; /* Position relative to the overlay */
    top: 10px; /* Perfectly center the image vertically */
    left: 50px; /* Position the image 50px from the left side */
    height: 30px;
}

/* 
    the github icon at the bottom left 
    that is reused across all pages
*/
.-button-overlay-icon-github {
    position: absolute; /* Position relative to the overlay */
    top: 10px; /* Perfectly center the image vertically */
    left: 90px; /* Position the image 90px from the left side */
    height: 30px;
}

/* 
    the paypal icon at the bottom left 
    that is reused across all pages
*/
.-button-overlay-icon-paypal {
    position: absolute; /* Position relative to the overlay */
    top: 10px; /* Perfectly center the image vertically */
    left: 130px; /* Position the image 130px from the left side */
    height: 30px;
}

/* 
    the email icon at the bottom left 
    that is reused across all pages
*/
.-button-overlay-icon-email {
    position: absolute; /* Position relative to the overlay */
    top: 10px; /* Perfectly center the image vertically */
    left: 170px; /* Position the image 170px from the left side */
    height: 30px;
}

/* 
    the website source text link 
    that is reused across all pages
*/
.-website-source {
    position: absolute; /* Position relative to the overlay */
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%); /* Center horizontally and adjust vertical positioning */
    color: white;
}

@media only screen and (max-width: 700px) {
    .-website-source,
    .-bottom-overlay-copyright {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 550px) {
    .-website-source,
    .-bottom-overlay-copyright {
        font-size: 0.6em;
    }
}