/* the initial setup */
body {
    margin: 0;
    padding: 0;
    background-image: url('../../images/background.png');
    background-size: cover;
    background-position: center;
}

/* the overlay at the top of the website */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(90, 90, 90, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

/* displayed content extra details */
.overlay-content {
    text-align: center;
    color: white;
}

/* the download button */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* when you hover over the download button */
button:hover {
    background-color: #0056b3;
}

/* the bottom overlay at the bottom of the website */
.bottom-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(90, 90, 90, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

/* the copyright message at the bottom right */
.bottom-overlay-copyright {
    text-align: right;
    margin-right: 50px;
    color: white;
}

/* the discord icon at the bottom left */
.bottom-overlay-icon-discord {
    background-image: url('../../images/discord-mark-white.png');
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    z-index: 10;
}